# This file is part of USBGuard.
#
#
# The service file is used by systemd to start binaries at boot
#


[Unit]
Description=USBGuard USB Management Service

[Service]
ExecStart=/usr/lib/usbguard/usbguard-daemon
Restart=always

[Install]
WantedBy=multi-user.target
